/2023-11-08 23-32-06.mkv
/architecture.PNG
/IntelliSecureHome - IoT Architecture.pptx
/IntelliSecureHome – IoT.pptx
/IoT_Projects_Schedule_v1_2023-2024.pptx
/Untitled.png
/~$IntelliSecureHome - IoT Architecture.pptx
/Χρονοδιάγραμμα.docx