<!-- views/devices.hbs or views/devices.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Devices</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <!-- Include the navbar -->
    <%- include('navbar', { username}) %>   

    <%- include('device', {devices}) %>   
    <!-- Include the add_device module -->
    <%- include('add_device') %>

    <script>
        // JavaScript to toggle the visibility of the add device form
        function toggleAddDeviceForm() {
            var addDeviceForm = document.getElementById('add-device-form');
            addDeviceForm.style.display = (addDeviceForm.style.display === 'none') ? 'block' : 'none';
        }
    </script>
    <button onclick="toggleAddDeviceForm()">Add Device</button>
    

</body>
</html>
